<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-news-heading" jhiTranslate="crowdCodileApp.news.home.createOrEditLabel">Create or edit a News</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!news.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="news.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crowdCodileApp.news.contenu" for="field_contenu">Contenu</label>
                    <input type="text" class="form-control" name="contenu" id="field_contenu"
                        [(ngModel)]="news.contenu" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crowdCodileApp.news.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="news.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crowdCodileApp.news.projet" for="field_projet">Projet</label>
                    <select class="form-control" id="field_projet" name="projet" [(ngModel)]="news.projet" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projetOption.id === news.projet?.id ? news.projet : projetOption" *ngFor="let projetOption of projets; trackBy: trackProjetById">{{projetOption.nomProjet}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
