<div>
    <h2 id="page-heading">
        <span jhiTranslate="crowdCodileApp.dons.home.title">Dons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dons" [routerLink]="['/dons/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crowdCodileApp.dons.home.createLabel">
            Create new Dons
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dons">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="crowdCodileApp.dons.date">Date</span></th>
            <th><span jhiTranslate="crowdCodileApp.dons.montant">Montant</span></th>
            <th><span jhiTranslate="crowdCodileApp.dons.projet">Projet</span></th>
            <th><span jhiTranslate="crowdCodileApp.dons.profil">Profil</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dons of dons ;trackBy: trackId">
                <td><a [routerLink]="['/dons', dons.id, 'view' ]">{{dons.id}}</a></td>
                <td>{{dons.date | date:'mediumDate'}}</td>
                <td>{{dons.montant}}</td>
                <td>
                    <div *ngIf="dons.projet">
                        <a [routerLink]="['../projet', dons.projet?.id, 'view' ]" >{{dons.projet?.nomProjet}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dons.profil">
                        <a [routerLink]="['../profil', dons.profil?.id, 'view' ]" >{{dons.profil?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dons', dons.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dons', dons.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'dons', { outlets: { popup: dons.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
