<div>
    <h2 id="page-heading">
        <span jhiTranslate="crowdCodileApp.commentaire.home.title">Commentaires</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commentaire" [routerLink]="['/commentaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crowdCodileApp.commentaire.home.createLabel">
            Create new Commentaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="commentaires">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contenu"><span jhiTranslate="crowdCodileApp.commentaire.contenu">Contenu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="crowdCodileApp.commentaire.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span jhiTranslate="crowdCodileApp.commentaire.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profil.nom"><span jhiTranslate="crowdCodileApp.commentaire.profil">Profil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="projet.nomProjet"><span jhiTranslate="crowdCodileApp.commentaire.projet">Projet</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentaire of commentaires ;trackBy: trackId">
                <td><a [routerLink]="['/commentaire', commentaire.id, 'view' ]">{{commentaire.id}}</a></td>
                <td>{{commentaire.contenu}}</td>
                <td>{{commentaire.date | date:'mediumDate'}}</td>
                <td>{{commentaire.note}}</td>
                <td>
                    <div *ngIf="commentaire.profil">
                        <a [routerLink]="['../profil', commentaire.profil?.id, 'view' ]" >{{commentaire.profil?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="commentaire.projet">
                        <a [routerLink]="['../projet', commentaire.projet?.id, 'view' ]" >{{commentaire.projet?.nomProjet}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/commentaire', commentaire.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commentaire', commentaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'commentaire', { outlets: { popup: commentaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="commentaires && commentaires.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
